* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

h2 {
	color: #302600;
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 40px;
	padding-bottom: 35px;
	text-align: left;
	background: url("../img/h2_line.png") 0 100% no-repeat;

	@media (min-width: $screen-sm-min) {

		font-size: 35px;
		line-height: 40px;
	}
}

h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 15px;
}

p {
	padding: 0;
	margin: 0 0 15px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.color-red {
	color: #f90000;
}

.divider20 {
	height: 20px;
}

.divider30 {
	height: 30px;
}

.divider45 {
	height: 45px;
}

.yellow-box {
	background: #fcce14;
	border: 5px solid #fcce14;
	@include box-shadow(3px 0px 5px 0px rgba(0, 0, 0, 0.4));

	.yellow-box-left {
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		position: relative;
		text-align: center;
		padding: 50px 15px;
	}

	.yellow-box-right {
		color: #fff;
		font-size: 15px;
		position: relative;
		padding: 55px 15px;
		line-height: 20px;
		text-align: center;

		.yellow-box-arrow {
			display: none;
		}

		.cp {
			margin-top: 15px;

			a {
				color: #fff;
				text-decoration: none;
				border-bottom: 1px dashed #fff;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		width: 100%;
		display: table;

		.yellow-box-left {
			height: 202px;
			width: 55%;
			padding: 0 25px;
			display: table-cell;
			text-align: left;
			vertical-align: middle;
		}

		.yellow-box-right {
			height: 202px;
			width: 45%;
			padding: 0 25px;
			display: table-cell;
			vertical-align: middle;

			.btn {
				margin-top: 35px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.yellow-box-left {
			width: 525px;
			padding-right: 0;
			padding-left: 45px;

			span {
				display: block;
				margin-right: -25px;
			}
		}

		.yellow-box-right {
			width: 425px;
			padding-left: 60px;

			.yellow-box-arrow {
				top: 0;
				left: 0;
				z-index: 50;
				content: '';
				width: 60px;
				height: 100%;
				display: block;
				position: absolute;
				background: url("../img/b03_yellow.png") 0 50% no-repeat;
			}
		}
	}
}


.list-base {

	li {
		font-size: 20px;
		line-height: 30px;
		padding-left: 14px;
		position: relative;
		margin-bottom: 10px;

		&:before {
			left: 0;
			top: 12px;
			width: 5px;
			height: 5px;
			content: '';
			background: #000;
			position: absolute;
			@include border-radius(50%);
		}
	}
}

.lead {
	font-weight: 400;
}


.form-block {
	padding: 30px;
	max-width: 420px;
	background: #fcce14;

	.form-title {
		color: #000;
		font-size: 25px;
		font-weight: 700;
		line-height: 28px;
		text-align: center;
		margin-bottom: 20px;
	}

	.form-subtitle {
		color: #000;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		margin-bottom: 15px;

		span {
			display: block;
		}

		a {
			color: #000;
			text-decoration: none;
		}
	}

	.form-text {
		color: #000;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		margin-bottom: 15px;
	}

	.cp {
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		padding-top: 15px;

		span {
			display: block;
		}

		a {
			color: #3498db;
			text-decoration: none;
			border-bottom: 1px dashed #3498db;
		}
	}

	@media (min-width: $screen-sm-min) {

		.form-text {

			span {
				display: block;
			}
		}

		.cp {
			span {

				display: inline;
			}
		}
	}
}

.modal-content {
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 25px 20px;

	h3 {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-sm-min) {

		font-size: 20px;
		line-height: 30px;
		padding: 30px 35px;
	}
}


.btn-close {
	top: 8px;
	right: 8px;
	width: 20px;
	height: 20px;
	color: #302600;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
}


.thanks {
	background: #fff;
	padding-top: 65px;
	padding-bottom: 65px;

	.done-text {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 50px;
	}
}