.b09 {
    padding-top: 50px;
    padding-bottom: 90px;
    background: url("../img/b09_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    h2 {
        color: #fff;
        background: none;
        padding-bottom: 0;
        margin-bottom: 30px;
        text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.35);
    }

    .review {
        padding: 20px;
        background: #fff;
        position: relative;
        @include border-radius(4px);


        .review-item {
            outline: none;
        }

        .review-author {
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            margin-bottom: 20px;

            .review-photo {
                width: 165px;
                margin: 0 auto 10px auto;

                a {
                    display: block;
                    border: 1px solid #f2f2f2;
                }
            }

            strong {
                display: block;
            }

            span {
                display: block;
            }
        }

        .review-text {
            font-size: 17px;
            font-weight: 300;
            line-height: 22px;

            .review-title {
                color: #413400;
                font-size: 20px;
                font-weight: 700;
                line-height: 25px;
                margin-bottom: 10px;

            }

            p {
                margin-bottom: 10px;
            }

            .review-text-bottom {
                padding-top: 30px;
            }
        }

        .review-nav {
            top: 50%;
            width: 18px;
            height: 35px;
            display: none;
            cursor: pointer;
            margin-top: -18px;
            position: absolute;
            background: url("../img/review-arrow.png") no-repeat;

            &.prev {
                left: -40px;
                background-position: 0 0;

                &:hover {
                    background-position: 0 -35px;
                }
            }

            &.next {
                right: -40px;
                background-position: -18px 0;

                &:hover {
                    background-position: -18px -35px;
                }
            }
        }

        .slick-dots {
            left: 0;
            right: 0;
            z-index: 500;
            bottom: -36px;
            font-size: 0;
            line-height: 0;
            text-align: center;
            position: absolute;

            li {
                width: 16px;
                height: 16px;
                margin: 0 6px;
                display: inline-block;

                button {
                    padding: 0;
                    width: 16px;
                    height: 16px;
                    outline: none;
                    overflow: hidden;
                    background: #fff;
                    position: relative;
                    display: inline-block;
                    border: 2px solid #8d897b;
                    @include border-radius(50%);

                    &:before {
                        top: 2px;
                        left: 2px;
                        width: 8px;
                        height: 8px;
                        content: '';
                        background: #8d897b;
                        position: absolute;
                        @include border-radius(50%);
                    }
                }

                &.slick-active {

                    button {
                        background: #fcce14;

                        &:before {
                            background: #fcce14;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .review {
            padding: 40px;
            margin-left: 70px;
            margin-right: 70px;

            .review-text {
                font-size: 20px;;
                line-height: 25px;

                .review-title {
                    font-size: 25px;
                    line-height: 30px;
                    text-indent: 50px;
                    background: url("../img/icon-quote.png") 0 0 no-repeat;
                }
            }

            .review-nav {
                display: block;
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .review {

            .review-author {
                float: left;
                width: 165px;
            }

            .review-text {
                float: right;
                width: 555px;
            }
        }
    }
}

