.b06 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    background: #fff;
    padding-top: 55px;
    padding-bottom: 55px;

    .b06-top {
        margin-bottom: 50px;
    }

    .tabs {
        margin-bottom: 50px;

        .tabs-nav {
            font-size: 0;
            line-height: 0;
            margin-bottom: 30px;

            li {
                padding: 5px 0;
                font-size: 16px;
                cursor: pointer;
                line-height: 20px;

                a {
                    color: #000;
                    border-bottom: 1px dashed #000;
                }

                &.active {

                    a {
                        color: #f90000;
                        border-bottom-color: #f90000;
                    }
                }
            }
        }

        .tabs-item {
            display: none;

            &.active {
                display: block;
            }

            ul {
                font-size: 14px;
                line-height: 20px;
            }
        }

        h3 {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 20px;
        }

        .subtitle {
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 15px;
        }


        p {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .price {

        .price-nav {
            font-size: 0;
            line-height: 0;
            margin: 0 -5px 20px -5px;

            li {
                margin: 0 5px;
                display: inline-block;

                a {
                    color: #2980b9;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    padding: 2px 6px;
                    display: inline-block;
                    text-decoration: none;
                    border: 1px solid #2980b9;
                    @include border-radius(5px);
                }

                &.active {

                    a {
                        color: #000;
                        border: 1px solid #000;
                    }
                }
            }
        }

        .price-item {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .form-box {
        margin: 0 auto;
        max-width: 393px;
        background: #fcce14;

        .form-block {
            background: transparent;
        }
    }

    .sale {
        padding-top: 50px;
        padding-bottom: 10px;

        &.item1 {
            background: url("../img/sale15.png") 0 0 no-repeat;
        }

        &.item2 {
            background: url("../img/sale1000.png") 0 0 no-repeat;
        }

        &.item3 {
            background: url("../img/sale10.png") 0 0 no-repeat;
        }

        h4 {
            color: #fcce14;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 10px;

            strong {
                font-weight: 500;
            }
        }
    }

    .subtext {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 30px;
        max-width: 420px;
        margin-bottom: 55px;
    }

    .yellow-box {

        .yellow-box-left {
            position: relative;

            span {
                z-index: 60;
                display: block;
                position: relative;
            }

            .t1 {
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 25px;
            }

            .t2 {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 15px;
            }

            .t3 {
                font-size: 15px;
                font-weight: 300;
                line-height: 20px;
            }
        }

        .yellow-box-right {
            background: url("../img/b06_yellow_box.jpg") 50% 50% no-repeat;
            background-size: cover;

            .btn {
                max-width: 250px;
                padding: 11px 15px;
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .tabs {

            .tabs-nav {
                width: 100%;
                display: table;
                margin-bottom: 0;

                li {
                    padding: 0;
                    overflow: hidden;
                    display: table-cell;
                    border: 1px solid #fcce14;
                    border-collapse: collapse;
                    border-top-width: 2px;
                    @include border-radius(8px 8px 0 0);

                    a {
                        width: 100%;
                        padding: 7px 5px;
                        text-align: center;
                        border-bottom: none;
                        display: inline-block;
                        background: #fefbee;
                    }

                    &.active {

                        a {
                            color: #000;
                            background: #fcce14;
                            border-bottom: none;
                        }
                    }
                }
            }

            .tabs-content {
                background: #fcce14;
                padding: 1px 2px 2px 2px;
            }

            .tabs-item {
                background: #fff;
                overflow: hidden;
                padding: 25px 10px;
                @include border-radius(8px 8px 0 0);
            }
        }

        .form-box {
            width: 393px;
            height: 640px;
            padding: 5px 10px 0 0;
            background: url("../img/form-box-bg.png") 50% 0 no-repeat;
        }

        .sale {
            padding-top: 0;

            &.item1 {
                padding-left: 80px;
            }

            &.item2 {
                padding-left: 110px;
            }

            &.item3 {
                padding-left: 110px;
                background-position: 42px 0;
            }

            h4 {
                font-size: 25px;
                line-height: 30px;
            }

            p {
                font-size: 20px;
                line-height: 25px;
            }
        }

        .subtext {
            font-size: 18px;
            line-height: 25px;
            padding-left: 80px;
        }
    }

    @media (min-width: $screen-md-min) {

        .tabs {
            float: left;
            width: 555px;
            margin-bottom: 0;
        }

        .form-box {
            float: right;
            margin-right: 0 -10px 0 0;
        }

        .yellow-box {

            .yellow-box-left {
                width: 575px;
                padding-right: 0;
                padding-left: 35px;

                span {
                    margin-right: -35px;
                }
            }

            .yellow-box-right {
                width: 375px;
                padding-left: 60px;

                .yellow-box-arrow {
                    top: 0;
                    left: 0;
                    z-index: 50;
                    content: '';
                    width: 60px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    background: url("../img/b03_yellow.png") 0 50% no-repeat;
                }
            }
        }
    }
}
