.b04 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    background: #fff;
    padding-top: 55px;
    padding-bottom: 55px;

    .yellow-list {

        li {
            font-size: 20px;
            line-height: 30px;
            padding-left: 14px;
            position: relative;
            margin-bottom: 10px;
            font-style: italic;

            &:before {
                left: 0;
                top: 14px;
                width: 5px;
                height: 5px;
                content: '';
                position: absolute;
                background: #fcd123;
                @include border-radius(50%);
            }
        }
    }
}
