.b03 {
    background: #ebebeb;
    padding-top: 55px;
    padding-bottom: 55px;

    .who {

        li {
            padding-left: 60px;
            padding-bottom: 30px;

            &.item1 {
                background: url("../img/b03_icon1.png") 0 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b03_icon2.png") 0 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b03_icon3.png") 0 0 no-repeat;
            }

            &.item4 {
                background: url("../img/b03_icon4.png") 0 0 no-repeat;
            }

            &.item5 {
                background: url("../img/b03_icon5.png") 0 0 no-repeat;
            }

            &.item6 {
                background: url("../img/b03_icon6.png") 0 0 no-repeat;
            }

            &.item7 {
                background: url("../img/b03_icon7.png") 0 0 no-repeat;
            }
        }

        h4 {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 15px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
        }
    }

    .yellow-box {

        .yellow-box-right {
            background: url("../img/b03_yellow-image.jpg") 50% 50% no-repeat;
            background-size: cover;
        }
    }
}
