.b07 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    background: #ebebeb;
    padding-top: 55px;
    padding-bottom: 55px;

    .list-base {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .yellow-box {

        .yellow-box-right {
            background: url("../img/b03_yellow-image.jpg") 50% 50% no-repeat;
            background-size: cover;
        }
    }

    .btn {
        padding: 11px 10px;
    }
}