.b02 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    background: #fff;
    padding-top: 55px;
    padding-bottom: 55px;

    .list-box {
        padding-top: 20px;
    }

    .list-base {

        li {
            font-size: 20px;
            line-height: 26px;
            padding-left: 14px;
            margin-bottom: 20px;
        }
    }

    @media (min-width: $screen-sm-min) {

        .list-base {
            float: left;

            &.left-list {
                width: 295px;
            }

            &.right-list {
                width: 320px;
            }

        }
    }
}