.b01 {
    padding-top: 60px;
    padding-bottom: 30px;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    .heading {
        color: #fff;
        text-align: center;
        margin-bottom: 35px;
    }

    h1 {
        font-size: 28px;
        font-weight: 900;
        line-height: 30px;
        margin-bottom: 15px;
        text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.9);
    }

    .text {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
    }

    .box {
        background: #ebebeb;
        border: 5px solid #fcce14;
        @include border-radius(5px);
        @include box-shadow(5px 0px 5px 0px rgba(0, 0, 0, 0.4));

        .box-left {
            text-align: center;
            padding: 18px 20px;
            background: #fcce14;
        }

        .box-right {
            padding: 18px 20px;
        }

        .box-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 15px;

            strong {
                display: block;
                font-size: 25px;
                font-weight: 600;
                line-height: 30px;
                margin-bottom: 3px;
            }

            a {
                color: #000;
                text-decoration: none;
                display: inline-block;
            }
        }

        .present-title {
            color: #f90000;
            font-size: 20px;
            line-height: 24px;
            padding-top: 45px;
            margin-bottom: 40px;
            background: url("../img/b01_present.png") 50% 0 no-repeat;
        }


        .present {
            font-size: 0;
            line-height: 0;
            margin: 0 -5px 7px -5px;
            text-align: center;

            li {
                margin: 0 5px 15px 5px;
                display: inline-block;
            }

            .or {
                font-size: 15px;
                line-height: 20px;
                padding: 20px 0;
                text-align: center;
            }

            .present-item {
                width: 140px;
                overflow: hidden;
                text-align: center;
                border: 2px solid #b18d00;
                @include border-radius(6px);
            }

            .present-image {
                padding: 4px 0;
                background: #fff;

                img {
                    @include img-responsive(inline-block);
                }
            }

            .present-text {
                padding: 19px 0;
                font-size: 17px;
                line-height: 20px;
                background: #e3e3e3;

                strong {
                    display: block;
                }
            }
        }


        .advantage {
            max-width: 420px;
            margin: 0 auto;
            
            li {
                font-size: 20px;
                line-height: 25px;
                padding-left: 32px;
                padding-bottom: 20px;
                background: url("../img/icon-check.png") 0 3px no-repeat;
            }
        }

        .cp-box {
            padding: 16px 0;
            text-align: center;

            a {
                color: #3498db;
                font-size: 15px;
                line-height: 20px;
                display: inline-block;
                text-decoration: none;
                border-bottom: 1px dashed #3498db;
            }
        }

        .box-right-text {
            margin: 0 auto;
            font-size: 15px;
            line-height: 20px;
            max-width: 320px;
            text-align: center;
        }
    }

    @media (min-width: $screen-sm-min) {

        padding-top: 60px;

        .heading {
            max-width: 700px;
            text-align: left;
            padding-left: 90px;
            background: url("../img/b01_img1__unichtozhenie_tarakanov_moskva.png") 0 0 no-repeat;
        }

        h1 {
            font-size: 40px;
            line-height: 40px;
        }

        .text {
            width: 400px;
            font-size: 20px;
            line-height: 28px;
        }

        .box {

            .present {
                width: 400px;
                margin: 0 auto 7px auto;

                li {
                    float: left;
                    display: block;
                    margin: 0 auto;
                }

                .present-item {
                    width: 170px;
                }

                .or {
                    width: 60px;
                    padding-top: 80px;
                }
            }
        }
    }


    @media (min-width: $screen-md-min) {

        .box {
            position: relative;

            &:before {
                right: 32px;
                top: -214px;
                content: '';
                width: 262px;
                height: 209px;
                position: absolute;
                background: url("../img/b01_man__unichtozhenie_tarakanov.png") 0 0 no-repeat;
            }

            .box-left {
                width: 525px;
                float: left;
                text-align: left;
                background: url("../img/b01_yellow-box.png") 0 50% no-repeat;
            }

            .box-right {
                float: left;
                width: 425px;
                padding-left: 0;
                padding-right: 10px;
            }

            .present-title {
                color: #f90000;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 64px;
                padding: 8px 0 8px 48px;
                background: url("../img/b01_present.png") 0 50% no-repeat;
            }

            .present {
                width: auto;

                li {
                    float: left;
                }
            }

            .box-right-text {
                text-align: left;
            }
        }
    }
}

