.b08 {

    background: #fff;
    padding-top: 55px;
    padding-bottom: 55px;


    .choice {

        > li {
            max-width: 725px;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 16px;
            background: #ffffe0 5px 30px no-repeat;
            padding: 35px 25px 30px 50px;
            @include border-radius(4px);

            &:nth-child(even) {
                background-color: #ebebeb;
            }

            &.item1 {
                background-image: url("../img/b08_icon01.png");
            }

            &.item2 {
                background-image: url("../img/b08_icon02.png");
            }

            &.item3 {
                background-image: url("../img/b08_icon03.png");
            }

            &.item4 {
                background-image: url("../img/b08_icon04.png");
            }

            &.item5 {
                background-image: url("../img/b08_icon05.png");
            }

            &.item6 {
                background-image: url("../img/b08_icon06.png");
            }

            &.item7 {
                background-image: url("../img/b08_icon07.png");
            }

            &.item8 {
                background-image: url("../img/b08_icon08.png");
            }

            &.item9 {
                background-image: url("../img/b08_icon09.png");
            }

            &.item10 {
                background-image: url("../img/b08_icon10.png");
            }

            h4 {
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 10px;
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .choice {

            > li {
                font-size: 20px;
                line-height: 30px;
            }

            h4 {
                font-size: 25px;
                line-height: 30px;
            }
        }
    }
}