.b10 {
    padding-top: 55px;
    background: #fefbee;
    padding-bottom: 55px;

    h2 {
        margin-bottom: 40px;
    }

    .problem {
        background: #fff;
        overflow: hidden;
        margin-bottom: 20px;
        @include border-radius(4px);
        @include box-shadow(1px 0px 5px 0px rgba(0, 0, 0, 0.2));

        li {
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            position: relative;
            padding: 35px 20px 25px 35px;

            h4 {
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                text-indent: 35px;
            }

            p {
                margin-bottom: 22px;
            }

            &:first-child {
                border-bottom: 1px dashed #bfbfbf;

                h4 {
                    color: #fa0200;
                    background: url("../img/icon-minus.png") 0 0 no-repeat;
                }
            }

            &:last-child {

                h4 {
                    color: #fcce14;
                    background: url("../img/icon-plus.png") 0 0 no-repeat;
                }
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        h2 {

            span {
                display: block;
            }
        }

        .problem {
            width: 100%;
            display: table;

            li {
                width: 50%;
                display: table-cell;
                vertical-align: top;
                font-size: 20px;
                line-height: 25px;
                padding: 35px 35px 25px 35px;

                h4 {
                    font-size: 25px;
                    line-height: 30px;
                }

                &:first-child {
                    border-bottom: none;

                    &:before {
                        right: 0;
                        top: 35px;
                        bottom: 40px;
                        content: ' ';
                        position: absolute;
                        border-left: 1px dashed #bfbfbf;
                    }
                }
            }
        }
    }
}