.b05 {
    background: #fefbee;
    padding-top: 55px;
    padding-bottom: 55px;

    .faq {
        max-width: 750px;

        li {
            padding-top: 5px;
            padding-left: 50px;
            margin-bottom: 25px;
            background: url("../img/icon-quest.png") 0 0 no-repeat;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .quest {
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            margin-bottom: 15px;
        }

        .answer {
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;

            strong {
                font-weight: 400;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .faq {

            .quest {
                font-size: 25px;
                line-height: 30px;
            }

            .answer {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
