.footer {
    color: #fff;
    background: #333;
    padding: 30px 0;


    .footer-row {

        > li {
            margin-bottom: 25px;
        }
    }

    h3 {
        color: #adadad;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .service-list {
        margin-bottom: 20px;

        li {
            font-size: 15px;
            line-height: 20px;
            padding-left: 15px;

            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    .contact {

        li {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 5px;

            a {
                color: #fff;
                text-decoration: none;
            }

            &.email {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            &.adr {
                padding-top: 30px;
            }
        }
    }

    #map {
        height: 290px;
        background: #fff;
    }

    .cert {
        width: 100px;
        text-align: left;

        li {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
            }
        }
    }

    .footer-bottom {

        .politics {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 25px;

            a {
                color: #fff;
                text-decoration: none;
                border-bottom: 1px dotted #fff;
            }
        }

        .madein {
            color: #fff;
            height: 36px;
            font-size: 15px;
            line-height: 20px;
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
            padding: 8px 110px 0 8px;
            background: url("../img/creator-logo.png") 100% 50% no-repeat;


            span {
                display: inline-block;
                border-bottom: 1px solid #fff;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .footer-row {

            > li {

                &.col-one {
                    float: left;
                    width: 50%;
                    height: 380px;
                }

                &.col-two {
                    float: left;
                    width: 50%;
                    height: 380px;
                }

                &.col-three {
                    float: left;
                    width: 50%;
                }

                &.col-four {
                    float: left;
                    width: 50%;
                }
            }
        }

        #map {
            width: 260px;
        }
    }

    @media (min-width: $screen-md-min) {

        .footer-row {

            > li {

                &.col-one {
                    float: left;
                    width: 270px;
                    height: 380px;
                }

                &.col-two {
                    float: left;
                    width: 215px;
                    height: 380px;
                }

                &.col-three {
                    float: left;
                    width: 275px;
                }

                &.col-four {
                    float: left;
                    width: 200px;
                }
            }
        }


        .cert {
            margin: 0 auto;
            text-align: center;
        }

    }
}


