.header {
    padding-top: 14px;
    background: #fcce14;
    padding-bottom: 17px;
    @include box-shadow(inset 3px 0px 7px 0px rgba(0, 0, 0, 0.25));

    .header-logo {
        width: 192px;
        margin: 0 auto 5px auto;
    }

    .header-slogan {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-contact {
        font-size: 0;
        line-height: 0;
        margin: 0 -5px;
        text-align: center;

        li {

        }

        .header-tel {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            margin: 0 5px;
            display: inline-block;
            text-decoration: none;
        }

        .work-time {
            font-size: 15px;
            line-height: 20px;
            display: inline-block;

        }

        strong {
            font-size: 15px;
            line-height: 20px;
            margin: 0 5px;
            display: inline-block;
        }

        i {
            font-size: 15px;
            margin-right: 5px;
        }
    }

    @media (min-width: $screen-sm-min) {

        .header-logo {
            float: left;
            padding-top: 15px;
            margin: 0 28px 0 0;
        }

        .header-slogan {
            float: left;
            text-align: left;
            padding-top: 18px;
        }

        .header-contact {
            width: 230px;
            float: right;
            text-align: right;

            .header-tel {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }


    @media (min-width: $screen-md-min) {

        .header-logo {
            padding-top: 5px;
        }

        .header-slogan {
            padding-top: 8px;
        }


        .header-contact {
            width: 400px;
            float: right;
            text-align: right;

            .header-tel {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}



.topnav {
    z-index: 999;
    background: #fff;
    position: relative;

    &.fix-top {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        @include box-shadow(0 10px 10px rgba(30,60,30,0.1));
    }
    .navbar-header {

        .navbar-header-text {
            color: #000;
            float: left;
            height: 50px;
            padding: 10px 0;
            font-size: 24px;
            line-height: 30px;
            display: inline-block;
        }

        .navbar-toggle {
            color: #000;
            width: 50px;
            height: 50px;
            float: right;
            padding: 10px 0;
            cursor: pointer;
            font-size: 30px;
            line-height: 30px;
            text-align: center;
            background: transparent;

            &:hover,
            &.active {
                color: #c33c00;
            }
        }
    }

    .navbar {
        display: none;
        margin: 0 -6px;
        padding-top: 10px;
        padding-bottom: 15px;
        border-top: 1px solid #c0c0c0;

        > li {
            margin: 0;
            display: block;

            > a {
                width: 100%;
                color: #000;
                padding: 8px 6px;
                font-size: 16px;
                line-height: 20px;
                text-align: left;
                display: inline-block;
                vertical-align: middle;
                text-transform: capitalize;

                &:hover {
                    color: #c33c00;
                }
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .navbar-header {
            display: none;
        }

        .navbar {
            margin: 0;
            width: 100%;
            display: table;
            border-top: none;
            padding-top: 0;
            padding-bottom: 0;


            > li {
                height: 60px;
                padding: 5px 0;
                display: table-cell;

                a {
                    width: auto;
                    font-size: 14px;
                    padding: 15px 6px;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .navbar {

            > li {

                a {
                    font-size: 17px;

                }
            }
        }
    }

}


.label {
    left: 0;
    top: 51px;
    position: absolute;
}