.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	padding: 14px 40px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(8px);
	border-bottom: 2px solid #106196;
	border-right: 2px solid #106196;
	text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.4);
	background: #1070ae;
	background: -moz-linear-gradient(top,  #1070ae 0%, #3498db 50%, #3498db 75%, #258acd 100%);
	background: -webkit-linear-gradient(top,  #1070ae 0%,#3498db 50%,#3498db 75%,#258acd 100%);
	background: linear-gradient(to bottom,  #1070ae 0%,#3498db 50%,#3498db 75%,#258acd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1070ae', endColorstr='#258acd',GradientType=0 );


	&:hover {
		color: #fff;
		background: #3498db;
		text-decoration: none;
	}

	&:active {
		background: #1676b5;
	}
}


.btn-blue {
	margin:0;
	color: #2980b9;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	padding: 14px 20px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	touch-action: manipulation;
	@include border-radius(8px);
	border: 2px solid #2980b9;


	&:hover {
		color: #fff;
		background: #2980b9;
		text-decoration: none;
	}

	&:active {
		background: #135b8b;
	}
}

.btn-send {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}