.form-control {
	margin: 0;
	width: 100%;
	color: #787878;
	outline: none;
	font-size: 14px;
	line-height: 21px;
	background: #ffffff;
	display: inline-block;
	padding: 8px 10px 8px 50px;
	border: 2px solid transparent;
	@include placeholder(#787878);
	@include border-radius(5px);
	@include box-shadow( 0px 0px 14px 0px rgba(170, 137, 8, 0.2));

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.form-user {
		background: #fff url("../img/icon-user.png") 16px 50% no-repeat;
	}

	&.form-tel {
		background: #fff url("../img/icon-tel.png") 16px 50% no-repeat;
	}

	&.form-home {
		background: #fff url("../img/icon-home.png") 16px 50% no-repeat;
	}
}


.red {

	.form-control {
		color: #ff0000;
		border-color: #ff0000;
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}