@media (max-width: 600px) {

    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 25px;
        border: 1px solid #ddd;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .table {
            margin-bottom: 0;
        }
    }
}


.table {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 25px;

    small {
        font-size: 14px;
    }

    th {
        font-weight: 400;
        padding: 5px 5px;
        text-align: center;
        border: 1px solid #898989;

        &:first-child {
            min-width: 120px;
            text-align: left;
        }
    }

    td {
        min-width: 90px;
        padding: 5px 5px;
        text-align: center;
        border: 1px solid #898989;
    }
}
